
<form [formGroup]="getLateRegisterationRequestsForm" (ngSubmit)="getAllRequests()">
    <button type="submit">Get All Requests</button>
</form>

<br>

<form [formGroup]="searchForRequestByCourseCodeForm" (ngSubmit)="getCourseRequests()">
    <label>Search by Course Code: </label>
    <input type="text" name="CourseCode" formControlName="Course_code">
    <br>
    <button type="submit" [disabled]="searchForRequestByCourseCodeForm.invalid">Get Course Requests</button>
</form>

<br>

<form [formGroup]="searchForRequestByStudentIDForm" (ngSubmit)="getStudentRequests()">
    <label>Search by Student ID: </label>
    <input type="text" name="StudentID" formControlName="Student_ID">
    <br>
    <button type="submit" [disabled]="searchForRequestByStudentIDForm.invalid">Get Course Requests</button>
</form>

<div class="row container-fluid my-2" [hidden]="!showTable">
    <div class="row">
        <label class="col-2">Course Code</label>
        <label class="col-2">Request Date</label>
        <label class="col-2">Request ID</label>
        <label class="col-2">Request Status</label>
        <label class="col-2">Student ID</label>
    </div>

    <div class="row" *ngFor="let requests of objectValues(late_requests_list);let requestIndex = index">
        <label class="col-2" *ngFor="let request of requests | keyvalue">{{ request.value }}</label>
        <button class="col-1 btn btn-outline-success text-light" (click)="acceptRequest(requestIndex)">Accept</button>
        <button class="col-1 btn btn-outline-danger text-light" (click)="rejectRequest(requestIndex)">Reject</button>

    </div>
</div>
