<div class="gradient container-fluid p-3">
    <hr class="row my-2">

    <form class="row my-2" [formGroup]="getLateRegisterationRequestsForm" (ngSubmit)="getAllRequests()">
        <button class="col-12 btn btn-outline-dark text-light" type="submit">Get All Requests</button>
    </form>


    <form class="row my-2" [formGroup]="searchForRequestByCourseCodeForm" (ngSubmit)="getCourseRequests()">
        <label class="col-4">Search by Course Code: </label>
        <input class="col-4" type="text" name="CourseCode" formControlName="Course_code">
        <button class="col-4 btn btn-outline-dark text-light" type="submit" [disabled]="searchForRequestByCourseCodeForm.invalid">Get Course Requests</button>
    </form>

    <form class="row my-2" [formGroup]="searchForRequestByStudentIDForm" (ngSubmit)="getStudentRequests()">
        <label class="col-4">Search by Student ID: </label>
        <input class="col-4" type="text" name="StudentID" formControlName="Student_ID">
        <button class="col-4 btn btn-outline-dark text-light" type="submit" [disabled]="searchForRequestByStudentIDForm.invalid">Get Course Requests</button>
    </form>

    <div class="row container-fluid my-2" [hidden]="!showTable">
        <div class="row my-1 fw-bold text-dark">
            <label class="col-2">Course Code</label>
            <label class="col-2">Request Date</label>
            <label class="col-2">Request ID</label>
            <label class="col-2">Request Status</label>
            <label class="col-2">Student ID</label>
        </div>
    
        <div class="row my-1" *ngFor="let requests of objectValues(late_requests_list);let requestIndex = index">
            <label class="col-2" *ngFor="let request of requests | keyvalue">{{ request.value }}</label>
            <button class="col-1 btn btn-outline-success text-light" (click)="acceptRequest(requestIndex)">Accept</button>
            <button class="col-1 btn btn-outline-danger text-light" (click)="rejectRequest(requestIndex)">Reject</button>
    
        </div>
    </div>
</div>
