
<form [formGroup]="getLateRegisterationRequestsForm" (ngSubmit)="getAllRequests()">
    <button type="submit">Get All Requests</button>
</form>

<form [formGroup]="searchForRequestByCourseCodeForm" (ngSubmit)="getCourseRequests()">
    <label>Search by Course Code: </label>
    <input type="text" name="CourseCode" formControlName="Course_code">
    <br>
    <button type="submit" [disabled]="searchForRequestByCourseCodeForm.invalid">Get Course Requests</button>
</form>


<table>
    <div *ngFor="let request of late_requests_list; let requestIndex = index">
        
    </div>
</table>