<div class="gradient container-fluid p-3">
    <hr class="row">
    <button class="col-12 my-2 btn btn-outline-dark text-light" [routerLink]="['/addCourseInstance']"  >Add Coures Instance</button>
    <button class="col-12 my-2 btn btn-outline-dark text-light" [routerLink]="['/registerStudentInstructorInACourse/instructor']">Register Instructor in a Course</button>
    <button class="col-12 my-2 btn btn-outline-dark text-light" [routerLink]="['/registerStudentInstructorInACourse/student']">Register Student in a Course</button>
    <button class="col-12 my-2 btn btn-outline-dark text-light" [routerLink]="['/adminLateRegisterationPage']">Late Registeration Requests</button>
    <button class="col-12 my-2 btn btn-outline-dark text-light" [routerLink]="['/dropCoursePage/admin']">Drop Course for User</button>
    <button class="col-12 my-2 btn btn-outline-dark text-light" [routerLink]="['/adminGradePage']">Add Grade</button>
    <button class="col-12 my-2 btn btn-outline-dark text-light" [routerLink]="['/readStatusPage']">Change Read Only Status</button>
</div>
