
Discussions/Midyear_Discussion/~$presentation.pptx
gp.vpp.bak_*
.gp.vpp.lck
Discussions/Midyear_Discussion/Final/~$cumentation_betterEcom.docx
*.cache
*.dll
*.json
*.pdb
*.cache
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/bin/Debug/net5.0/Better_Ecom_Backend.dll
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/bin/Debug/net5.0/Better_Ecom_Backend.deps.json
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/bin/Debug/net5.0/Better_Ecom_Backend.pdb
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/bin/Debug/net5.0/Better_Ecom_Backend.runtimeconfig.dev.json
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/bin/Debug/net5.0/DataLibrary.dll
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/bin/Debug/net5.0/DataLibrary.pdb
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/bin/Debug/net5.0/ref/Better_Ecom_Backend.dll
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/Better_Ecom_Backend.csproj.nuget.dgspec.json
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/Debug/net5.0/apphost.exe
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/Debug/net5.0/Better_Ecom_Backend.assets.cache
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/Debug/net5.0/Better_Ecom_Backend.csproj.CoreCompileInputs.cache
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/Debug/net5.0/Better_Ecom_Backend.csproj.FileListAbsolute.txt
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/Debug/net5.0/Better_Ecom_Backend.csprojAssemblyReference.cache
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/Debug/net5.0/Better_Ecom_Backend.dll
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/Debug/net5.0/Better_Ecom_Backend.genruntimeconfig.cache
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/Debug/net5.0/Better_Ecom_Backend.pdb
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/Debug/net5.0/ref/Better_Ecom_Backend.dll
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/project.assets.json
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/project.nuget.cache
Source_Code/Backend/Better_Ecom_Backend/DataLibrary/bin/Debug/net5.0/DataLibrary.deps.json
Source_Code/Backend/Better_Ecom_Backend/DataLibrary/bin/Debug/net5.0/DataLibrary.dll
Source_Code/Backend/Better_Ecom_Backend/DataLibrary/bin/Debug/net5.0/ref/DataLibrary.dll
Source_Code/Backend/Better_Ecom_Backend/DataLibrary/bin/Debug/net5.0/DataLibrary.pdb
Source_Code/Backend/Better_Ecom_Backend/DataLibrary/obj/DataLibrary.csproj.nuget.dgspec.json
Source_Code/Backend/Better_Ecom_Backend/DataLibrary/obj/Debug/net5.0/DataLibrary.assets.cache
Source_Code/Backend/Better_Ecom_Backend/DataLibrary/obj/Debug/net5.0/DataLibrary.csproj.CoreCompileInputs.cache
Source_Code/Backend/Better_Ecom_Backend/DataLibrary/obj/Debug/net5.0/DataLibrary.csproj.FileListAbsolute.txt
Source_Code/Backend/Better_Ecom_Backend/DataLibrary/obj/Debug/net5.0/DataLibrary.csprojAssemblyReference.cache
Source_Code/Backend/Better_Ecom_Backend/DataLibrary/obj/Debug/net5.0/DataLibrary.dll
Source_Code/Backend/Better_Ecom_Backend/DataLibrary/obj/Debug/net5.0/DataLibrary.pdb
Source_Code/Backend/Better_Ecom_Backend/DataLibrary/obj/Debug/net5.0/ref/DataLibrary.dll
Source_Code/Backend/Better_Ecom_Backend/DataLibrary/obj/project.assets.json
Source_Code/Backend/Better_Ecom_Backend/DataLibrary/obj/project.nuget.cache
*.json
Source_Code/Backend/Better_Ecom_Backend/DataLibrary/obj/Debug/net5.0/DataLibrary.csprojAssemblyReference.cache
*.cache
*.json
*.pdb
*.dll
