Discussions/Midyear_Discussion/~$presentation.pptx
gp.vpp.bak_*
.gp.vpp.lck
Discussions/Midyear_Discussion/Final/~$cumentation_betterEcom.docx
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/Better_Ecom_Backend.csproj.nuget.dgspec.json
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/Better_Ecom_Backend.csproj.nuget.g.props
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/project.assets.json
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/project.nuget.cache
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/Debug/net5.0/Better_Ecom_Backend.assets.cache
Source_Code/Backend/Better_Ecom_Backend/Better_Ecom_Backend/obj/Debug/net5.0/Better_Ecom_Backend.csprojAssemblyReference.cache