<div class="gradient p-3 container-fluid">
    <hr class="row">
    <form class="row container-fluid" [formGroup]="viewDepartmentCoursesForm" (ngSubmit)="viewCourses()">
        <div class="row">
            <label class="col-4">Select Department Name</label>
            <select class="col-8" name="DepartmentCourses" id="DepartmentCourses" #Departments formControlName="DepartmentCode">
            <option *ngFor="let dep of department_code_list; let i = index" value="{{ dep }}">{{ dep }}</option>
            </select>
        </div>
        <p class="row text-danger fw-bold" *ngIf="departmentGet.invalid && departmentGet.touched">Please select a department</p>
        <br>
        <button class="row btn btn-outline-dark text-light my-2" type="submit" [disabled]="viewDepartmentCoursesForm.invalid">View Courses</button>
    </form>

    <div class="row container-fluid" *ngFor="let course of objectValues(courses)">
        <div class="row" *ngFor="let info of course | keyvalue">
            <label class="col-4">{{ info.key }}: </label>
            <label class="col-8">{{ info.value }}</label>
        </div>
        <hr class="row">
    </div>

    <form class="row">
        <!-- make cs dynamic, according to chosen department-->
        <a class="col-12 btn btn-outline-dark text-light" *ngIf="isAdmin()" [routerLink]="['/addCourseToDepartment/cs']">Add Course</a>
        <a class="col-12 btn btn-outline-dark text-light my-2" [routerLink]="['/courseInfo']">Search for Course</a>
    </form>
</div>