<div class="gradient container-fluid p-3">
  <div *ngIf="logedInUser != 'student'">
      <hr class="row my-2">
      <form class="row container-fluid" [formGroup]="registerStudentCourseForm" (ngSubmit)="register()">

          <div class="row my-2">
              <label class="col-4" style="text-transform: capitalize;">{{type}} ID</label>

              <div class="col-8 container-fluid" *ngIf="type == 'student'">
                  <div class="row">
                      <input class="col-6" type="number" formControlName="StudentID">
                      <p class="col-6 text-danger fw-bold" *ngIf="GetStudentID.invalid && GetStudentID.touched"> Student ID is required</p>
                  </div>
              </div>

              <div class="col-8 container-fluid" *ngIf="type == 'instructor'">
                  <div class="row">
                      <input class="col-6" type="number" *ngIf="type == 'instructor'" formControlName="InstructorID">
                      <p class="col-6 text-danger fw-bold" *ngIf="GetInstructorID.invalid && GetInstructorID.touched"> Instructor ID is required</p>
                  </div>
              </div>
          </div>


          <div class="row my-2">
            <label class="col-4">Course Code</label>
            <input class="col-4" type="text" formControlName="CourseCode">
            <p class="col-4 text-danger fw-bold"  *ngIf="GetCourseCode.invalid && GetCourseCode.touched"> Course Code is required</p>
          </div>

          <div class="row my-2">
            <label class="col-4">Current Term</label>
            <select class="col-4" formControlName="CurrentTerm">
            <option>First</option>
            <option>Second</option>
            <option>Summer</option>
            <option>Other</option>
            </select>
            <p class="col-4 text-danger fw-bold" *ngIf="GetCurrentTerm.invalid && GetCurrentTerm.touched"> Current Term is required</p>
          </div>

          <button class="row btn btn-outline-success text-light my-3" [disabled]="registerStudentCourseForm.invalid">Register</button>

      </form>
  </div>



  <div *ngIf="logedInUser == 'student'">

    <table style="text-align: center;">
      <tr>
          <th></th> <!--remove deh ya mina lw na ma sheltha4-->
          <th>Academic Year</th>
          <th>Course Code</th>
          <th>Course Description</th>
          <th>Course Name</th>
          <th>Department Code</th>

      </tr>

      <tr *ngFor="let courses of objectValues(availableCourses);let courseIndex = index">
        <td>{{ courseIndex }}</td>
        <td *ngFor="let course of courses | keyvalue">
          <div *ngIf="!(course.key == 'is_archived' || course.key == 'is_read_only')"> {{ course.value }}</div>
        </td>

        <td><button type="button" (click)="getAvailableCourseInstances(courseIndex)">Select</button></td>




      </tr>

    </table>

    <table style="text-align: center;" [hidden]="!showAvailableInstancesTable">
      <tr>
          <th></th> <!--remove deh ya mina lw na ma sheltha4-->
          <th>Course Code</th>
          <th>Course Term</th>
          <th>Course Year</th>
          <th>Credit Hours</th>
          <th>Instance ID</th>
      </tr>

      <tr *ngFor="let instances of objectValues(availableCouresInstances);let instanceIndex = index">

          <td>{{ instanceIndex }}</td>
          <td *ngFor="let instance of instances | keyvalue">{{ instance.value }}</td>
          <td><button type="button" (click)="registerIfUserStudent(instanceIndex)">Register in Course</button></td>

      </tr>

    </table>
  </div>



  <!--
          <td>{{ courseIndex }}</td>
          <td *ngFor="let course of courses | keyvalue">{{ course.value }}</td>


  -->
