<div class="gradient container-fluid p-3">
    <hr class="row my-2">
    <div *ngIf="logedInUser != 'student'">
        <form class="row container-fluid" [formGroup]="registerStudentCourseForm" (ngSubmit)="register()">

            <div class="row my-2">
                <label class="col-4" style="text-transform: capitalize;">{{type}} ID</label>

                <div class="col-8 container-fluid" *ngIf="type == 'student'">
                    <div class="row">
                        <input class="col-6" type="number" formControlName="StudentID">
                        <p class="col-6 text-danger fw-bold" *ngIf="GetStudentID.invalid && GetStudentID.touched"> Student ID is required</p>
                    </div>
                </div>

                <div class="col-8 container-fluid" *ngIf="type == 'instructor'">
                    <div class="row">
                        <input class="col-6" type="number" *ngIf="type == 'instructor'" formControlName="InstructorID">
                        <p class="col-6 text-danger fw-bold" *ngIf="GetInstructorID.invalid && GetInstructorID.touched"> Instructor ID is required</p>
                    </div>
                </div>
            </div>


            <div class="row my-2">
                <label class="col-4">Course Code</label>
                <input class="col-4" type="text" formControlName="CourseCode">
                <p class="col-4 text-danger fw-bold" *ngIf="GetCourseCode.invalid && GetCourseCode.touched"> Course Code is required</p>
            </div>

            <div class="row my-2">
                <label class="col-4">Current Term</label>
                <select class="col-4" formControlName="CurrentTerm">
                <option>First</option>
                <option>Second</option>
                <option>Summer</option>
                <option>Other</option>
                </select>
                <p class="col-4 text-danger fw-bold" *ngIf="GetCurrentTerm.invalid && GetCurrentTerm.touched"> Current Term is required</p>
            </div>

            <button class="row btn btn-outline-success text-light my-3" [disabled]="registerStudentCourseForm.invalid">Register</button>
        </form>
    </div>



    <div *ngIf="logedInUser == 'student'">

        <div class="row container-fluid my-3">
            <div class="row my-1 fw-bold text-dark">
                <label class="col-2">Academic Year</label>
                <label class="col-2">Course Code</label>
                <label class="col-2">Course Description</label>
                <label class="col-2">Course Name</label>
                <label class="col-2">Department Code</label>
            </div>

            <div class="row my-2" *ngFor="let courses of objectValues(availableCourses);let courseIndex = index">
                <div class="col-2 container-fluid" *ngFor="let course of courses | keyvalue">
                    <label class="row" *ngIf="!(course.key == 'is_archived' || course.key == 'is_read_only')"> {{ course.value }}</label>
                </div>
                <button class="col-2 btn btn-outline-primary text-light" (click)="getAvailableCourseInstances(courseIndex)">Select</button>
            </div>
        </div>



        <div class="row container-fluid my-3" [hidden]="!showAvailableInstancesTable">
            <div class="row my-1 fw-bold text-dark">
                <label class="col-2">Course Code</label>
                <label class="col-2">Course Term</label>
                <label class="col-2">Course Year</label>
                <label class="col-2">Credit Hours</label>
                <label class="col-2">Instance ID</label>
            </div>

            <div class="row my-2" *ngFor="let instances of objectValues(availableCouresInstances);let instanceIndex = index">
                <label class="col-2" *ngFor="let instance of instances | keyvalue"> {{ instance.value }}</label>
                <button class="col-2 btn btn-outline-primary text-light" (click)="registerIfUserStudent(instanceIndex)">Select</button>
            </div>
        </div>

    </div>
</div>