
div.body {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

div.main {
  color: white;
  width: fit-content;
  margin: 0 auto;
  border-radius: 10%;
  height: 50vh;
}

h2{
  font-size:2rem;
}

button:hover,
button:focus {
  background: #2A7D8A;
  transform: scale(1.1);
  box-shadow: 2px 2px 20px 5px #EEE;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
