<div class="gradient container-fluid p-3 fw-bold">
    <hr class="row">

    <form class="row container-fluid" [formGroup]="courseInfoForm" (ngSubmit)="searchForCourse()">
        <div class="row my-1">
            <label class="col-4">Choose Search Type</label>
            <select class="col-8" name="SearchType" id="SearchType" #SearchType formControlName="searchType">
            <option value="code">Course Code</option>
            <option value="name" [hidden]="isAdmin()">Course Name</option>
            </select>
        </div>
        <p class="row text-danger" *ngIf="searchTypeGet.invalid && searchTypeGet.touched">please select a search type</p>

        <div class="row">
            <label class="col-4">Enter Course Name or Code </label>
            <input class="col-8" type="text" name="Course" id="Course" #Course formControlName="course">
        </div>

        <button class="row btn btn-outline-dark my-2" type="submit" [disabled]="courseInfoForm.invalid">Search</button>
    </form>

    <hr class="row my-3">

    <form class="row container-fluid" [formGroup]="updateCourseForm">
        <div class="row container-fluid" formGroupName="courseInstanceForm">
            <div class="row container-fluid" *ngFor="let course of objectValues(course_info)">
                <div class="row" *ngFor="let info of course | keyvalue">
                    <label class="col-3">{{ info.key }}: </label>
                    <label class="col-3" *ngIf="!isAdmin()">{{ info.value }}</label>
                    <input class="col-3" *ngIf="isAdmin() && checkKey(info.key)" type="{{ inputType(info.key) }}" placeholder="{{ info.value }}" value="{{ info.value }}" formControlName="{{ info.key }}">
                    <label class="col-3" *ngIf="!checkKey(info.key) && isAdmin()">{{ info.value }}</label>
                </div>
                <br>
                <hr *ngIf="!isAdmin()">
            </div>
            <button class="row btn btn-oultine-dark" *ngIf="isAdmin() && checkSearchFlag()" type="button" (click)="updateCourse()">Update Course Information</button>
        </div>

        <hr class="row" *ngIf="isAdmin() && checkSearchFlag()">

        <div class="row container-fluid" formGroupName="updateCoursePrerequisiteForm" *ngIf="isAdmin() && checkSearchFlag()">

            <div class="row">
                <label class="col-4">Prerequisites: </label>
                <input class="col-4" type="text" name="Prerequisites" id="Prerequisites" #Prerequisites formControlName="prerequisites">
                <select class="col-4" name="PrerequisitesList" id="PrerequisitesList" #PrerequisitesList>
                <option *ngFor="let pList of prerequisites_list">{{ pList }}</option>
                </select>
            </div>
            <div class="row">
                <button class="btn btn-oultine-success col-6" type="button" (click)="addPrerequisite()">Add Prerequisite</button>
                <button class="btn btn-oultine-danger col-6" type="button" (click)="removePrerequisites(PrerequisitesList.value)">Remove Prerequisite</button>
            </div>

            <button class="row btn btn-oultine-dark" type="button" [disabled]="isListEmpty(prerequisites_list)" (click)="updateCoursePrerequisite()">Update Course Prerequisite</button>
        </div>

        <hr class="row my-2" *ngIf="isAdmin() && checkSearchFlag()">

        <div class="row container-fluid" formGroupName="updateCourseDepartmentApplicabilityForm" *ngIf="isAdmin() && checkSearchFlag()">
            <div class="row">
                <label class="col-4">Department Applicability: </label>
                <input class="col-4" type="text" name="DepartmentApplicability" id="DepartmentApplicability" #DepartmentApplicability formControlName="departmentApplicability">
                <select class="col-4" name="DepAppList" id="DepAppList" #DepAppList>
                <option *ngFor="let depAppList of departmentApplicability_list">{{ depAppList }}</option>
                </select>
            </div>
            <div class="row">
                <button class="btn btn-oultine-success col-6" type="button" (click)="addDepartmentApplicability()">Add Department</button>
                <button class="btn btn-oultine-danger col-6" type="button" (click)="removeDepartmentApplicability(DepAppList.value)">Remove Department</button>
            </div>

            <button class="row btn btn-oultine-dark" type="button" [disabled]="isListEmpty(departmentApplicability_list)" (click)="updateCourseDepartmentApplicability()" style="color: black;">Update</button>
        </div>
    </form>

    <hr class="row" *ngIf="isAdmin() && checkSearchFlag()">

    <button class="row btn btn-oultine-dark col-12" type="button" *ngIf="isAdmin() && checkSearchFlag()" (click)="archiveCourse()">Archive Course</button>
</div>