<form [formGroup]="courseInfoForm" (ngSubmit)="searchForCourse()">
    <label>Choose Search Type</label>
    <select name="SearchType" id="SearchType" #SearchType formControlName="searchType">
        <option value="code">Course Code</option>
        <option value="name" [hidden]="isAdmin()">Course Name</option>
    </select>
    <p *ngIf="searchTypeGet.invalid && searchTypeGet.touched" style="color: red;">please select a search type</p>
    <br>
    <label>Enter Course Name or Code </label>
    <input type="text" name="Course" id="Course" #Course formControlName="course">
    <br>
    <button type="submit" [disabled]="courseInfoForm.invalid" style="color: black;">Search</button>
</form>

<br>
<hr>
<br>

<!--
<table style="width: 100%;">
    <tr *ngFor="let courseKey of objectValues(course_info)">
    <tr>
      <th>Course Code</th>
      <th>Department Code</th>
      <th>Course Name</th>
      <th>Academic Year</th>
      <th>Course Description</th>
      <th>Read only</th>
      <th>Arhcived</th>
      <th *ngFor="let key of objectKeys(courseKey)">{{ key }}</th>
    </tr>
    <tr *ngFor="let courseValue of objectValues(course_info)">
      <td *ngFor="let value of objectValues(courseValue)">{{ value }}</td>
    </tr>
</table>
-->

    <form [formGroup]="updateCourseForm" (ngSubmit)=updateCourse() *ngFor="let course of objectValues(course_info)">
        <div *ngFor="let info of course | keyvalue">
                <label>{{ info.key }}: </label>
                <label *ngIf="!isAdmin()">{{ info.value }}</label>
                <input *ngIf="isAdmin() && checkKey(info.key)" type="{{ inputType(info.key) }}" placeholder="{{ info.value }}" value="{{ info.value }}" formControlName="{{ info.key }}">
                <label *ngIf="!checkKey(info.key) && isAdmin()">{{ info.value }}</label>
        </div>
        <button *ngIf="isAdmin()" type="submit" style="color: black;">Update Course Information</button>
    </form>
    <hr>


<!--<form [formGroup]="courseForm">
    <div formArrayName="courseArray">
        <div *ngFor="let course of objectValues(courseArray.value); let courseIndex = index">
            <div [formGroupName]="courseIndex">
                {{courseIndex}}
                <form [formGroup]="updateCourseForm" (ngSubmit)="updateCourse()">
                    <div *ngFor="let info of course | keyvalue">
                        <label>{{ info.key }}: </label>
                        <<label>{{ info.value }}.</label>
                        <label *ngIf="!isAdmin()">{{ info.value }}</label>
                        <input *ngIf="isAdmin() && checkKey(info.key)" type="{{ inputType(info.key) }}" placeholder="{{ info.value }}" value="{{ info.value }}" formControlName="{{ info.key }}">
                        <input type="text" *ngIf="!checkKey(info.key)" formControlName="{{ info.key }}" placeholder="{{ info.value }}">
                    </div>
                    <button *ngIf="isAdmin()" type="submit" style="color: black;">Update Course Information</button>
                    <hr>
                </form>
            </div>
        </div>
    </div>
</form>-->

<form [formGroup]="updateCoursePrerequisiteForm" (ngSubmit)="updateCoursePrerequisite()" [hidden]="!isAdmin()">
    <br>

    <label>Prerequisites: </label>
    <input type="text" name="Prerequisites" id="Prerequisites" #Prerequisites formControlName="prerequisites">
    <select name="PrerequisitesList" id="PrerequisitesList" #PrerequisitesList>
        <option *ngFor="let pList of prerequisites_list">{{ pList }}</option>
    </select>
    <br>
    <button type="button" (click)="addPrerequisite()" style="color: black;">add prerequisite</button>
    <button type="button" (click)="removePrerequisites(PrerequisitesList.value)" style="color: black;">remove prerequisite</button>

    <br>

    <button type="submit" [disabled]="isListEmpty(prerequisites_list)" style="color: black;">Update Course Prerequisite</button>
</form>

<br>
<hr>

<form [formGroup]="updateCourseDepartmentApplicabilityForm" (ngSubmit)="updateCourseDepartmentApplicability()" [hidden]="!isAdmin()">
    <br>
    <label>Department Applicability: </label>
    <input type="text" name="DepartmentApplicability" id="DepartmentApplicability" #DepartmentApplicability formControlName="departmentApplicability">
    <select name="DepAppList" id="DepAppList" #DepAppList>
        <option *ngFor="let depAppList of departmentApplicability_list">{{ depAppList }}</option>
    </select>
    <br>
    <button type="button" (click)="addDepartmentApplicability()" style="color: black;">add department</button>
    <button type="button" (click)="removeDepartmentApplicability(DepAppList.value)" style="color: black;">remove department</button>

    <br>

    <button type="submit" [disabled]="isListEmpty(departmentApplicability_list)" style="color: black;">Update</button>
</form>

<button type="button" *ngIf=isAdmin() (click)="archiveCourse()" style="color: black;">Archive Course</button>