<div class="container-fluid p-3 justify-content-center">

    <div class="row container-fluid my-2 border border-light" *ngFor="let index of generalFeedElements">

        <div class="row container-fluid" *ngFor="let item of index | keyvalue">



            <div class="row">
                <label *ngIf="item.key == 'insertion_date'">{{item.value}}</label>
            </div>

            <div class="row">
                <label *ngIf="item.key == 'content'">{{item.value}}</label>
            </div>

            <div class="row my-1">
                <button class="btn btn-outline-danger text-light" *ngIf="type == 'admin' && item.key == 'feed_id'" (click)="delete((item.key == 'feed_id')? item.value : null)"> Delete</button>
            </div>

        </div>

    </div>

    <button class="row col-12 btn btn-outline-primary text-light my-2" *ngIf="type == 'admin'" (click)="(showEditText == 'visible')?showEditText = 'hidden':showEditText = 'visible'">{{(showEditText == 'hidden')?'Add To General Feed' : 'Close Add' }} </button>

    <form class="row container-fluid" [formGroup]="feedBoxForm" [style.visibility]='showEditText' (ngSubmit)="addToGeneralFeed()">

        <div class="row">
            <textarea cols="100" rows="10" formControlName="Content"></textarea>
        </div>
        <!-- <input type="text" formControlName="Content"> -->
        <p class="row text-danger fw-bold" *ngIf="getContent.invalid && getContent.touched">you need to enter some text</p>
        <button class="row btn btn-outline-success text-light" type="submit" [disabled]="feedBoxForm.invalid">Add</button>
    </form>
</div>
