
<!--<form [formGroup]="selectCourseForm" (ngSubmit)="getCourse()">

  
</form>-->

<button type="button" (click)="getAvailableCourses()">Get Available Courses</button>

<table style="text-align: center;" [hidden]="!showAvailableCoursesTable">
  <tr>
      <th></th> <!--remove deh ya mina lw na ma sheltha4-->
      <th>Academic Year</th>
      <th>Course Code</th>
      <th>Course Description</th>
      <th>Course Name</th>
      <th>Department Code</th>
      <th>Is Archived</th>
      <th>Is Read only</th>
  </tr>

  <tr *ngFor="let courses of objectValues(available_courses_list);let courseIndex = index">

      <td>{{ courseIndex }}</td>
      <td *ngFor="let course of courses | keyvalue">{{ course.value }}</td>
      <td><button type="button" (click)="getAvailableCourseInstances(courseIndex)">Select</button></td>

  </tr>

</table>


<table style="text-align: center;" [hidden]="!showAvailableInstancesTable">
  <tr>
      <th></th> <!--remove deh ya mina lw na ma sheltha4-->
      <th>Course Code</th>
      <th>Course Term</th>
      <th>Course Year</th>
      <th>Credit Hours</th>
      <th>Instance ID</th>
  </tr>

  <tr *ngFor="let instances of objectValues(available_coures_instance_list);let instanceIndex = index">

      <td>{{ instanceIndex }}</td>
      <td *ngFor="let instance of instances | keyvalue">{{ instance.value }}</td>
      <td><button type="button" (click)="submitRequest(instanceIndex)">Register in Course</button></td>

  </tr>

</table>

<!--<form [formGroup]="submitLateCourseRegisterationForm" (ngSubmit)="submitRequest()">
  <label>Course ID: </label>
  <input type="number" name="CourseInstanceID" formControlName="CourseInstanceID">
  <br>
  <button type="submit" [disabled]="submitLateCourseRegisterationForm.invalid">Submit Request</button>
</form>-->

<!--<form [formGroup]="deleteLateRegisterationRequestForm" (ngSubmit)="deleteRequest()">
  <label>Request ID: </label>
  <input type="number" name="RequestID" formControlName="lateRegistrationRequestID">
  <br>
  <button type="submit" [disabled]="deleteLateRegisterationRequestForm.invalid">Delete Request</button>
</form>-->

<table style="text-align: center;">
  <tr>
      <th></th> <!--remove deh ya mina lw na ma sheltha4-->
      <th>Course Code</th>
      <th>Request Date</th>
      <th>Request ID</th>
      <th>Request Status</th>
      <th>Student ID</th>
  </tr>

  <tr *ngFor="let requests of objectValues(late_requests_list);let requestIndex = index">

      <td>{{ requestIndex }}</td>
      <td *ngFor="let request of requests | keyvalue">{{ request.value }}</td>
      <td><button (click)="deleteRequest(requestIndex)">Delete</button></td>

  </tr>

</table>
