<div class="body">
  <div [formGroup]="loginForm" class="form">
      <div style="color: red;">
          {{errorMessage}}
      </div>
      <br><br>
      <div class="input">
          <label>ID  </label>
          <input type="number" name="ID" id="ID" #ID formControlName="ID">
          <p *ngIf="IDget.invalid && IDget.touched" style="color: red;"> ID is required</p>
      </div>

      <br>

      <div class="input">
          <label>Password  </label>
          <input type="password" name="Password" id="Password" #password formControlName="password">
          <p *ngIf="passwordGet.invalid && passwordGet.touched" style="color: red;"> password is required</p>
      </div>

      <br>

      <div class="input">
          <button type="submit" (click)="login(ID.value, password.value)" [disabled]="loginForm.invalid"> Login </button>
      </div>

  </div>
</div>
