<p>admin-home-page works!</p>
<app-logout></app-logout>
<button [routerLink]="['../profile/admin']" >view profile</button>

<button [routerLink]="['/createAccount/student']"  >Create Account for Student</button>
<br>
<button [routerLink]="['/createAccount/instructor']"  >Create Account for Instructor</button>

<!--changes the accounte password to national id, in case the user forgot the old password
 and went to the admin to make him reset it for him.-->
<button [routerLink]="['/adminResetPassword']" >Reset Account Password</button>
