<div class="homepage">

    <div class="student-info">
        <div class="info">
            <span>Admin Name</span>
        </div>
        <div>
            <button [routerLink]="['../profile/admin']">view profile</button>
        </div>
        <div class="hr">
            <hr>
        </div>
    </div>
    <div class="navigations">
        <div class="sidebar">
            <button [routerLink]="['/registerationsAndAccountsManagements']" >
              Registeration and Accounts Managements</button>
            <a href="#">Courses</a>
            <a href="#">General Material</a>
            <a href="#">Messages</a>
            <a href="#">Activity Stream</a>
            <a href="#">Polls</a>
            <a href="#">Final Exams</a>
            <a href="#">Calendar</a>
            <a href="#">Top 50</a>
            <a href="#">Event Registration</a>
        </div>
        <div class="general-feeds">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
    </div>
  </div>
