

<form [formGroup]="changeCourseDepartmentForm" (ngSubmit)="submitCourseToDepartment()">
  <label>Course Code</label>
  <input type="text" name="CourseID" id="CourseID" #CourseID formControlName="CourseID">
  <p *ngIf="courseIdGet.invalid && courseIdGet.touched" style="color: red;">Id is required</p>

  <br>
  <label>New Department</label>
  <div *ngFor="let dep of view_department_list">
    <input type="radio" name="NewDepartmentCode" id="NewDepartmentCode" value="{{ dep }}" #NewDepartmentCode formControlName="NewDepartmentCode">
    <label for="{{ dep }}">{{ dep }}</label>
</div>
<button type="submit" [disabled]="changeCourseDepartmentForm.invalid" style="color: black;">Set Department</button>
</form>
