<div class="view-profile gradient container-fluid p-3 text-dark fw-bold p-2 fs-4">
    <hr class="row border-dark">

    <div class="container-fluid p-3">
        <form class="container-fluid row" [formGroup]="profileForm" (ngSubmit)="saveChanges()">
            <div class="row" *ngFor="let property of user | keyvalue">
                <div *ngIf="property.key != 'system_user_id' && property.key != 'user_password'" class="container-fluid">
                    <div class="row my-1">
                        <label class="col-3 my-1">{{property.key}}</label>
                        <input class="col-9 p-1" type="{{inputType(property.key)}}" placeholder="{{property.value}}" [style.color]="changeColor(property.key)" formControlName="{{property.key}}">
                        <!--property.key == email as not to repeat the message for each input-->
                    </div>
                    <p class="text-danger row" *ngIf="emailGet.invalid && property.key == 'email'">please enter a valid email</p>
                </div>
            </div>
            <label class="col-3 my-1" [hidden]="!hasGpa">Student Gpa:</label>
            <label class="col-3 my-1" [hidden]="!hasGpa">{{ student_gpa }}</label>
            <button class="row btn btn-outline-dark btn-lg my-2" type="submit" [disabled]="profileForm.invalid"> Save Changes </button>
        </form>
        <button class="row col-12 btn btn-outline-dark btn-lg my-2" [routerLink]="['/changePassword']">Change Password</button>
    </div>
</div>