.view-profile {
    font-family: 'Courier New', Courier, monospace;
    width: 90vw;
    margin: 0 auto;
    padding: 10px;
    color: #111;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #0B879A, white);
    padding: 1vh 0 0 0;
    min-height: 100vh;
}

hr {
    width: 90vw;
    border: 1px solid white;
}

.main {
    display: grid;
    padding: 10px;
}

.data {
    display: grid;
    grid-template-columns: 25% 75%;
}

form {
    display: grid;
    font-size: 1.5rem;
}

input {
    background: none;
    outline: none;
    border-left: 5px solid #DDD;
    padding: 20px;
    font-size: 1.2rem;
    color: #DDD;
}

label,
input {
    margin-bottom: 1vh;
}

button {
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #555;
    text-decoration: none;
    background: none;
    color: black;
    font-family: sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}