<div class="change-password gradient container-fluid fw-bold text-dark fs-4">

    <hr class="row">

    <div class="row">
        <form class="container-fluid" [formGroup]="changePasswordForm" (ngSubmit)="submitNewPass(OldPassword.value, NewPassword.value, ConfirmPassword.value)">

            <div class="container-fluid row my-3">
                <div class="row container-fluid">
                    <label class="col-4"> Enter Old Password  </label>
                    <input class="col-8" type="password" name="OldPassword" id="OldPassword" #OldPassword formControlName="oldPassword">
                </div>
                <p class="row text-danger" *ngIf="oldPasswordGet.invalid && oldPasswordGet.touched">Old Password is Required</p>
            </div>

            <div class="row container-fluid my-3">
                <div class="row container-fluid">
                    <label class="col-4"> Enter New Password  </label>
                    <input class="col-8" type="password" name="NewPassword" id="NewPassword" #NewPassword formControlName="newPassword">
                </div>
                <p class="row text-danger" *ngIf="newPasswordGet.invalid && newPasswordGet.touched">Password is Required</p>
                <p class="row text-danger" *ngIf="NewPassword.value == OldPassword.value && !newPasswordGet.pristine && !oldPasswordGet.pristine">New Password must have a different password from old password</p>
            </div>

            <div class="row container-fluid my-3">
                <div class="row container-fluid">
                    <label class="col-4">Confirm New Password  </label>
                    <input class="col-8" type="password" name="ConfirmPassword" id="ConfirmPassword" #ConfirmPassword formControlName="confirmPassword">
                </div>
                <p class="row text-danger" *ngIf="confirmPasswordGet.invalid && confirmPasswordGet.touched"> password is required</p>
                <p class="row text-danger" *ngIf="changePasswordForm.errors?.mismatch">Passwords don't match</p>
            </div>

            <button class="row col-12 btn btn-outline-dark btn-lg" type="submit" [disabled]="changePasswordForm.invalid">Submit </button>
        </form>
    </div>
</div>