
<form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
  <label > Type</label>
  <!--<input type="text"> </!-- make it a list with optinos (student,instructor)-->
  <select name="Type" id="Type" #Type formControlName= "Type">
    <option value="student">Student</option>
    <option value="instructor">Instructor</option>
  </select> 
  <p *ngIf="typeGet.invalid && typeGet.touched" style="color: red;"> please choose a type</p>

  <label> User Id</label>
  <input type="number" name="NewID" id="NewID" #NewID formControlName = "ID">
  <p *ngIf="idGet.invalid && idGet.touched" style="color: red;"> id is required</p>

  <label>User National ID</label>
  <input type="text" name="NationalID" id="NationalID" #NationalID formControlName = "NationalID">
  <p *ngIf="nationalIDGet.invalid && nationalIDGet.touched" style="color: red;"> national Id is required</p>

  <button type="submit" [disabled]="resetPasswordForm.invalid"> Reset Password</button>
</form>
