<div class="container-fluid gradient">

    <div class="row">
        <hr>
    </div>

    <div class="row">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">

            <div class="container-fluid my-3">
                <div class="row">
                    <label class="col-3"> Type</label>
                    <!--<input type="text"> </!-- make it a list with optinos (student,instructor)-->
                    <div class="col-9">
                        <select name="Type" id="Type" #Type formControlName="Type">
                        <option value="student">Student</option>
                        <option value="instructor">Instructor</option>
                        </select>
                    </div>
                </div>
                <p class="text-danger row col-12" *ngIf="typeGet.invalid && typeGet.touched"> please choose a type</p>
            </div>

            <div class="container-fluid my-3">
                <div class="row">
                    <label class="col-3">User Id</label>
                    <input class="col-9" type="number" name="NewID" id="NewID" #NewID formControlName="UserID">
                </div>
                <p class="row col-12 text-danger" *ngIf="idGet.invalid && idGet.touched"> id is required</p>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <label class="col-3">User National ID</label>
                    <input class="col-9" type="text" name="NationalID" id="NationalID" #NationalID formControlName="NationalID">
                </div>
                <p class="row col-12 text-danger" *ngIf="nationalIDGet.invalid && nationalIDGet.touched"> national Id is required</p>
            </div>
            <button class="row btn btn-outline-dark col-12 my-5" type="submit" [disabled]="resetPasswordForm.invalid"> Reset Password</button>
        </form>
    </div>
</div>
