<div class="container-fluid gradient">
    <div class="row">
        <hr>
    </div>
    <div class="row buttons justify-content-center m-3 p-3">
        <button class="col-4 btn btn-outline-dark p-3 m-3" [routerLink]="['/registerNewStudentOrInstructor/student']">Register New Student</button>
        <button class="col-4 btn btn-outline-dark p-3 m-3" [routerLink]="['/registerNewStudentOrInstructor/instructor']"> Register New Instructor</button>

        <button class="col-4 btn btn-outline-dark p-3 m-3" [routerLink]="['/createAccount/student']">Create Account for Student</button>
        <button class="col-4 btn btn-outline-dark p-3 m-3" [routerLink]="['/createAccount/instructor']">Create Account for Instructor</button>

        <!--changes the accounte password to national id, in case the user forgot the old password
         and went to the admin to make him reset it for him.-->
        <button class="col-4 btn btn-outline-dark p-3 m-3" [routerLink]="['/adminResetPassword']">Reset Account Password</button>
        <!--"-->
        <!---->
    </div>
</div>